.calculadora{
    width: 23%;
    border: 1px solid black;
    margin: auto;

    display: flex;
    flex-direction: column;
    padding: .5rem;
    gap: .5rem;
    border-radius: 10px;

    background-color: #b93f24  ;

}

.pantalla{
    height: 2rem;
    padding: .5rem;
    background-color: rgb(59, 58, 58);
    border-radius: 20px;

    text-align: end;
    font-size: 1.9rem;
    color: beige;

    box-shadow: 0px 0px 3px black;


}
.botones{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: .5rem;
    
   
}

.boton{

    height: 2rem;  
    border: #b93f24;
    border-radius: 50px ;
    background-color: #b93f24  ;
    box-shadow: 0px 0px 4px black;
    color: beige;
    
}